/finddup.1
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.log
/config.status
/configure
/install-sh
/missing
debian/files
debian/finddup.substvars
debian/finddup/
debian/perforate.substvars
debian/perforate/
debian/autoreconf.*
debian/debhelper-build-stamp
debian/tmp
debian/*.debhelper.log
