Source: perforate
Section: utils
Priority: optional
Maintainer: Amaya Rodrigo Sastre <amaya@debian.org>
Uploaders: Hector Garcia <hector@debian.org>
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 10)
Homepage: http://perforate-linux.sf.net

Package: perforate
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, libjson-perl
Description: Utilities to save disk space
 finddup finds duplicate files, and optionally hard-links them together to
 save space.
 .
 findstrip finds unstripped binaries.
 .
 zum attempts to replace blocks of zero bytes in files with calls to
 lseek(2), thus allowing the file system not to allocate space for those
 bytes.
